@mixin flex($direction: row, $wrap: nowrap, $align: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
}

div.flex-toolbar {
  max-width: 100%;
  @include flex;
}

div.no-schedule {
  text-align: center;

  ion-text {
    font-size: 16rem;
  }

  margin: 4em auto;
}

div.flex {
  margin: 0.5em 0 1em;
  @include flex($wrap: wrap);
  max-width: 100%;
  justify-content: space-between;
  padding: 0 1em;

  div.flex-title {
    padding-right: 2em;
    flex: 2;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
  }

  div.flex-filter {
    width: auto;
  }
}



div.page-navbar {
  @include flex;
  gap: 1em;
  justify-content: center;
  width: 80%;
  height: 3em;
  margin: min(10%, 3em) auto 20px;

  div.current-page{
    height: 2em;
    width: 2em;
    background: linear-gradient(130deg, #ffffff, #f0f0f0);
    text-align: center;
    border-radius: 4px;
    line-height: 2em;
    box-shadow: 2px 3px 5px #000000;
  }


  ion-button.nav-button{
    overflow: hidden;
    height: 2em;
    width: 2em;
    --background: linear-gradient(130deg, #3780ff, #3c6dc3);
    text-align: center;
    --border-radius: 4px;
    line-height: 2em;
    box-shadow: 2px 3px 5px #000000;
    --background-hover: linear-gradient(150deg, #3780ff, #3c6dc3);
    --transition: background-color 15ms linear;
  }

  ion-button.skip-button:first-of-type {
    margin-right: auto;
  }

  ion-button.skip-button {
    --border-radius: 4px;
    height: 2em;
    width: 2em;
    box-shadow: 2px 3px 5px #000000;
    --background: linear-gradient(130deg, #7438ff, #5f13c2);
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    overflow: hidden;
  }

  ion-button.skip-button:last-of-type {
    margin-left: auto;
  }
}

ion-chip {
  text-transform: capitalize;
}
