<app-header [title]="title" style="background-color: #8afdf6;"></app-header>
<ion-content>
  <ion-progress-bar type="indeterminate" color="primary" [hidden]="!isSyncing"></ion-progress-bar>

  <!-- Only shows once all schedules have been retrieved -->
  <div class="flex" *ngIf="!isSyncing">
    <div class="flex-filter">
      <ion-item lines="none" color="none">
        <ion-icon slot="start" name="filter-outline"></ion-icon>
        <ion-select value="all" interface="popover" (ionChange)="onFilterChange($event)">
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="sent">Sent</ion-select-option>
          <ion-select-option value="pending">Pending</ion-select-option>
          <ion-select-option value="expired">Expired</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-button (click)="addSchedule()" expand="block" shape="round">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </div>

  <!-- If there are no schedules -->
  <div class="no-schedule" *ngIf="displayedSchedules.length < 1 && !isSyncing">
    <ion-text color="primary">
      <h2>No schedules found, add one with the "+" button above</h2>
    </ion-text>
  </div>

  <div *ngIf="displayedSchedules.length > 0 && !isSyncing">
    <ion-accordion-group expand="inset">
      <ion-accordion *ngFor="let schedule of displayedSchedules; trackBy:trackItems"  toggleIcon="caret-down-outline" class="accordion">
        <ion-item slot="header" iconSlot="caret-down">
          <ion-label>{{toDate(schedule.date)}}</ion-label>
          <ion-chip color="primary" mode="ios" [color]="schedule.status === 'expired' ? 'danger' : schedule.status === 'sent' ? 'success': ''" [outline]="true">
            <ion-label>{{schedule.status}}</ion-label>
          </ion-chip>
        </ion-item>
        <div class="accordion-content" slot="content">
          <p class="header">Message</p>
          <div class="divider"></div>
          <div class="textarea-container">
            <p class="message">{{schedule.message}}</p>
          </div>
          <p class="header">Chats</p>
          <div class="divider"></div>
          <div class="selected-chats-container">
            <div *ngFor="let chatID of schedule.chatIDs" [ngStyle]="{'background-color': getChatInfo(chatID).isGroup ? '#22618B' : '#2374AB'}" class="selected-chat">
              <ion-label>{{getChatInfo(chatID).name || "..."}}</ion-label>
            </div>
          </div>
          <ion-button (click)="onDelete(schedule._id)" expand="block" color="danger">
            Delete
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
