div.flex-toolbar{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

div.no-schedule{
  text-align: center;
  ion-text{
    font-size: 16rem;
  }
  margin: 4em auto;
}

div.flex{
  margin:0.5em 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;

  div.flex-title{
    padding-right: 2em;
    flex: 2;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
  };

  div.flex-filter{
    width: auto;
  }
}

ion-chip{
  text-transform: capitalize;
}
