<ion-header>
</ion-header>

<ion-content>
  <div>
    <ion-card class="centered">
      <ion-card-header>
        <ion-card-title>SIGNUP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <ion-item lines="none">
            <ion-input email formControlName="email" type="email" placeholder="Email"></ion-input>
            <ion-note slot="error">Enter a valid email</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
            <ion-note slot="error">Input at least 8 chars.</ion-note>
          </ion-item>
          <ion-button color="primary" type="submit" [disabled]="signupForm.invalid || isSigningUp">
            <ion-label *ngIf="!isSigningUp">Sign Up</ion-label>
            <ion-spinner name="circular" *ngIf="isSigningUp"></ion-spinner>
          </ion-button>
          <ion-text color="dark">
            <h2>Or</h2>
          </ion-text>
          <br/>
          <!-- Google sign in -->
          <div class="google-btn">
            <div class="google-icon-wrapper">
              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text">
              <a [href]="googleRedirectUri">
                <b>Sign in with google</b>
              </a>
            </p>
          </div>
        </form>
        <br/>
        <ion-text>Already have an account? <span class="link" (click)="gotoLogin()">Login here!</span></ion-text>
        <br/>
        <ion-text>
          Or <a href="https://github.com/DreadedHippy/whatScheduler/blob/master/README.md">Learn more</a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
