<ion-header>
</ion-header>

<ion-content>
  <ion-card class="centered">
    <ion-card-header>
      <ion-card-title>LOGIN</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item lines="none">
          <ion-input email required formControlName="email" type="text" placeholder="Email"></ion-input>
          <ion-note slot="error">Enter a valid email</ion-note>
        </ion-item>
        <!-- <br/> -->
        <ion-item lines="none">
          <ion-input required formControlName="password" type="password" placeholder="Password"></ion-input>
          <ion-note slot="error">Password must be 8 chars. or more</ion-note>
        </ion-item>
        <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid || isLoggingIn">
          <ion-label *ngIf="!isLoggingIn">Login</ion-label>
          <ion-spinner name="circular" *ngIf="isLoggingIn"></ion-spinner>
        </ion-button>
        <ion-text color="dark">
          <h2>Or</h2>
        </ion-text>
        <br/>
        <!-- Google sign in -->
        <div class="google-btn">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
          </div>
          <p class="btn-text">
            <a [href]="googleRedirectUri" target="_blank">
              <b>Sign in with google</b>
            </a>
          </p>
        </div>
      </form>
      <br/>
        <ion-text>New to WhatScheduler? <span class="link" (click)="gotoSignup()">Signup!</span></ion-text>
        <br/>
        <ion-text>
          Or <a href="https://github.com/DreadedHippy/whatScheduler/blob/master/README.md">Learn more</a>
        </ion-text>
      <br/>
      <ion-text color="primary">
      </ion-text>


      <!-- Google sign-in button -->
    </ion-card-content>
  </ion-card>
</ion-content>
