.item-label-custom{
  margin-bottom: 1em;
  // --background: #f0f0f0;
  ion-label{
    font-weight: 500;
  }
}

ion-input.custom-cron-input{
  font-family: monospace;
  // letter-spacing: 2px;
}

.create-schedule-button{
  margin: 3px auto;
}

#interval-input, #custom-input{
  margin-top: 0.5em;
  padding: 12px;
  border: 1px solid #aaaaaa;
  border-radius: 12px
}
