.centered {
  width: 80%;
  max-width: 400px;
  margin: 40px auto;
  overflow: hidden;
  text-align: center;
}

.chat-list-header{
  text-align: center;
}

ion-icon.ready-icon{
  font-size: 128px
}

ion-chip {
  --background: #ff0000de;
  --color: #ffffff;
}

.bg-transparent {
  background: transparent;
}

ion-item.chat{
  --padding-bottom: 1px;
  --padding-start: 12px;
  --padding-top: -3px;
  --inner-padding-bottom: 0;
  --inner-padding-top: 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.11);
  transition: 0.2s !important;
}

ion-item.chat:hover{
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 2px 2px 3px #000;
}

div.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sync-container{
  margin-top: 2em;
}

.sync-icon{
  font-size: 4em;
  animation: rotate 2s linear 0s infinite forwards;
  color: var(--ion-color-tertiary-shade);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disclaimer-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;

  ion-icon {
    margin-right: 0.5em;
  }
}

.disclaimer-text {
  font-size: 1.2em;
}
