// div.container{
//   text-align: center;
//   margin: 10px auto;
//   border: 1px solid red;
// }

#container {
  text-align: center;
  margin: 10px auto;
  width: 80%;
  top: 50%;
}

.box{
  border: 2px solid silver;
  border-radius: 8px;
  margin: 3px 0;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
}
