// div.container{
//   text-align: center;
//   margin: 10px auto;
//   border: 1px solid red;
// }
.centered {
  width: 80%;
  max-width: 400px;
  margin: 40px auto;
  overflow: hidden;
  text-align: center;
}

.chat-list-header{
  text-align: center;
}

ion-icon.ready-icon{
  font-size: 10em
}
