/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@100&display=swap');


ion-toast.custom-toast{
  text-align: center;
  font-size: 1.1rem;
  margin-top: 3rem;
  --border-radius: 8px;
}

div.list-container{
  padding-top: 1em;
  border: 1.5px solid #c1c1c1;
  border-radius: 8px;
}

div.accordion-content{
  padding: 1em;
  border-radius: 0 0 8px 8px;
  margin-bottom: 0.2em;
  // box-shadow: 3px 6px black;

  p.header{
    font-weight: 300;
    font-style: italic;
    padding-left: 0.2em;
    opacity: 0.72;
  }
}

div.textarea-container{
  border: 1.5px solid rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  padding: 0 0.8em;

  p.message{
    color: #000000;
  }
}

div.divider{
  height: 0.025em;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

div.selected-chats-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  border: 1.5px solid rgba(0, 0, 0, 0.32);
  padding: 0.5em;

  div.selected-chat{
    margin: 0.3em;
    padding: 0.8em;
    border-radius: 8px;
    background-color: rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    width: auto;
  }
}

ion-content {
  --background:linear-gradient(150deg, #8afdf6, #8afdf6 65%,#c7fffb 70%, #8afdf6 );
}

ion-searchbar.custom-searchbar {
  // --background: #3880ff;
  width: 98.5%;
  margin: 0 auto;
  --border-radius: 8px;
  // --box-shadow: 2px;
  // --cancel-button-color: #3880ff;
  // --clear-button-color: #3880ff;
  // --color: #3880ff;
  // --icon-color: #3880ff;
  // --placeholder-color: #3880ff;
  // --placeholder-font-style: initial;
  // --placeholder-font-weight: initial;
  // --placeholder-opacity: 0.5;
}
